.navbar-brand , button{
    color: #808080;
}

.container-fluid {
    margin-left: 35px;
    margin-right: 10px;
}

.bi {
    font-size: 20px;
    padding-right: 4px;
}

.card {
    width: 18rem;
}

.row {
    padding-top: 45px;
    padding-bottom: 60px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}