<div class="container">
  <div class="centered">
    <div class="card" style="width: 23rem;">
      <div class="card-header">
        <h6>Sign in to your dashboard</h6>
      </div>
      <div class="container" style="margin-top: 35px;margin-bottom: 10px;">
        <form>
          <div class="mb-3">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username" #username required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" #password required>
          </div>
          <div class="button-left">
            <button type="button" class="btn btn-primary" (click)="validateSignIn(username.value,password.value)">
                <span class="button-text-font">SIGN IN</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
